<template>
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <strong>${router.title}</strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
            <a href.bind="route.href">${route.title}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
