<template>
  <require from="components/common/topbar"></require>
  <require from="foundation-sites/dist/foundation-flex.min.css"></require>

  <top-bar router.bind="router"></top-bar>

  <div class="wrapper">
    <router-view></router-view>
  </div>
</template>
